<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <base href="/">
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <meta name="fragment" content="!">

  <!-- Apple META -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- Facebook META -->
  <meta property="fb:app_id" content="{{facebookAppId}}">
  <meta property="og:site_name" content="{{title}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:url" content="{{url}}">
  <meta property="og:image" content="{{logo}}">
  <meta property="og:type" content="website">
  <!-- Twitter META -->
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{description}}">
  <meta name="twitter:url" content="{{url}}">
  <meta name="twitter:image" content="{{logo}}">
  <!-- Fav Icon -->
  <link href="{{favicon}}" rel="shortcut icon" type="image/x-icon">
  <!-- Application CSS Files -->
  <!--<link rel="shortcut icon" href="assets/img/favicon30f4.png?v=3">-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/front/css/preload.min.css" />
  <link rel="stylesheet" href="/front/css/plugins.min.css" />
  <link rel="stylesheet" href="/front/css/style.light-blue-500.min.css" />
  <link rel="stylesheet" href="/front/css/width-boxed.min.css" id="ms-boxed" disabled="">

  <!--{% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}-->
</head>
<body class="ng-cloak">
<div ng-include="'/modules/core/client/views/partials/theme-selector.client.view.html'" class=""></div>
<div class="sb-site-container">
  <header ng-include="'/modules/core/client/views/partials/header.client.view.html'" class=""></header>
  <div ng-include="'/modules/core/client/views/partials/nav.client.view.html'" class=""></div>
  <div ng-include="'/modules/core/client/views/partials/modal.client.view.html'" class=""></div>
  <div ng-include="'/modules/core/client/views/partials/banner.client.view.html'" class=""></div>

  {% block content %}{% endblock %}

  <div ng-include="'/modules/core/client/views/partials/footer.client.view.html'" class=""></div>
</div>

<div ng-include="'/modules/core/client/views/partials/slidebar.client.view.html'" class=""></div>

<!--Embedding The User Object-->
<script type="text/javascript">
    var user = {{ user | json | safe }};
</script>
<!--Load The Socket.io File-->
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<!--Application JavaScript Files-->
{% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %}

<script src="/front/js/plugins.min.js"></script>
<script src="/front/js/app.min.js"></script>
<script src="/front/js/configurator.min.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-100065192-1', 'auto');
    ga('send', 'pageview');

</script>
<script src="/front/js/index.js"></script>


<!--{% if livereload %}-->
<!--<script type="text/javascript" src="{{host}}:35729/livereload.js"></script>-->
<!--{% endif %}-->
</body>
</html>

